.MainMenu {
  position: fixed;
  top: 0;
  width: 100%;
  background-color: #282c34;
  ul {
    width: 80%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    list-style-type: none;
    padding: 0;
    li {
      padding: 20px 0;
      a {
        color: white;
        text-transform: uppercase;
        text-decoration: none;
        &:hover {
          cursor: pointer;
          text-decoration: underline;
        }
      }
    }
  }
}