.Button {
  display: block;
  width: 200px;
  height: 40px;
  background-color: #113f67;
  color: white;
  border: none;
  outline: cadetblue;
  margin: 0 auto 10px;
  &:hover {
    cursor: pointer;
    opacity: 0.8;
    transition: all 200ms ease-in;
  }
  &:active {
    background-color: #e7eaf6;
    color: #113f67;
    opacity: 1;
  }
  &[disabled] {
    cursor: not-allowed;
    opacity: 0.5;
  }
}