.LessonList {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  background-color: #e7eaf6;
  height: 100vh;
  align-items: center;
  padding-top: 100px;
  ul {
    width: 60%;
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-between;
  }
}