.AnswerItem {
  border: 1px solid #113f67;
  margin: 10px 0;
  padding: 10px;
  &:hover{
    cursor: pointer;
    background-color: #113f67;
    color: white;
  }
}

.AnswerItem.active {
  background-color: #113f67;
  color: white;
}