.Auth {
  display: flex;
  flex-direction: column;
  padding: 20px 20px 0;
  position: absolute;
  top: 50px;
  right: -70px;
  width: 250px;
  border: 2px solid #113f67;
  background-color: white;
  z-index: 3;
  transform: rotateX(-90deg);
  transform-origin: top;
  transition: all 500ms ease-in-out;
  opacity: 0;
  &::before {
    position: absolute;
    top: -10px;
    left: 50%;
    transform: translateX(-50%) rotate(45deg);
    background-color: inherit;
    border: inherit;
    border-bottom-color: white;
    border-right-color: white;
    content: "";
    width: 20px;
    height: 20px;
    z-index: 2;
  }
}

.Auth.active {
  opacity: 1;
  transform: rotateX(0);
}
