.Lesson {
  display: flex;
  justify-content: center;
  padding: 100px 0;
  flex-grow: 1;
  width: 100%;
  background-color: #e7eaf6;
  height: 100vh;
  h1 {
    color: #113f67;
    text-align: center;
  }
}

.LessonWrapper {
  width: 600px;
}