.Background {
  display: none;
  position: fixed;
  left: 0;
  top: 61px;
  right: 0;
  bottom: 0;
  background-color: rgb(0,0,0);
  opacity: 0;
  transition: all 300ms ease-in-out;
}

.Background.active {
  display: block;
  opacity: 0.55;
}